@import "~bootstrap/scss/functions";
$border-radius-xlg:2rem;

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$custom-spacers:(
  6:$spacer*4.5,
  7:$spacer*6,
  8:$spacer*7.5,
  9:$spacer*9,
  10:$spacer*10.5
);

$spacers:map-merge($spacers,$custom-spacers);

$custom-container: (
  sm:500px,
  md:580px,
  lg:900px,
  xl:1000px,	
  xxl: 1001px
);

$container-max-widths: map-merge($container-max-widths, $custom-container);

@import "~bootstrap/scss/utilities";
$utilities: map-merge(
  $utilities,
  (
    "rounded": map-merge(
      map-get($utilities, "rounded"),
      (
        values: map-merge(
          map-get(map-get($utilities, "rounded"), "values"),
          (4: $border-radius-xlg),
        ),
      ),
    ),
  )
);






